<%- include('./partials/_header.ejs') %>

<%- include('./partials/_navbar.ejs') %>

<div class="container">        
    <div class="section section-slideshow">
        <div class="owl-carousel owl-theme">
            <div>
                <h2>COVID</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, dolores minus? Saepe soluta quo, nihil sed ab, unde incidunt commodi rerum perferendis, optio consectetur eligendi ea nobis deleniti voluptas aperiam!</p>
            </div>
            <div>
                <h2>EPI</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, dolores minus? Saepe soluta quo, nihil sed ab, unde incidunt commodi rerum perferendis, optio consectetur eligendi ea nobis deleniti voluptas aperiam!</p>
            </div>
            <div>
                <h2>Conselhos</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, dolores minus? Saepe soluta quo, nihil sed ab, unde incidunt commodi rerum perferendis, optio consectetur eligendi ea nobis deleniti voluptas aperiam!</p>                </div>
            <div>
                <h2>O Movimento</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, dolores minus? Saepe soluta quo, nihil sed ab, unde incidunt commodi rerum perferendis, optio consectetur eligendi ea nobis deleniti voluptas aperiam!</p>                    
            </div>
        </div>
        <a href="#" id="owl-btn" class="owl-btn btn btn-primary">Saber Mais</a>
    </div>

    <%- include('./partials/sections/_sectionInicio') %>
    <!--
    <section class="section" id="sectionSintomas"></section>
    <section class="section" id="sectionTransmissao"></section>
    <section class="section" id="sectionEPI"></section>
    <section class="section" id="sectionMovimento"></section>
    -->
</div>

<%- include('./partials/_footer.ejs') %>