/* BOOTSTRAP FORM FIXES */
.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown) {
    padding-top: 2rem;
    padding-bottom: 0rem;
}

.form-floating>.form-control, .form-floating>.form-select {
    height: calc(4.5rem + 2px);
    padding: 1rem .75rem;
}

.form-control {
    font-size: 1.6rem;
}
/* FIM BOOTSTRAP FORM FIXES */

label {
    color: black;    
    font-size: 1.6rem;
}

form input {
    font-size: 1.6rem;
}


#donationTab .nav-link {
    color: white !important;
}

#donationTab .active {
    background-color: var(--azul-claro);
    border: inherit;
}