* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;        
    scroll-behavior: smooth;
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    color: #fff;
    background-color: #38558C;    
}

p {
    font-size: 1.6rem;
}

h4 {
    font-size: 2.5rem;
}

/* EXTRAS */
.w-50 {
    width: 50vw;
    height: auto;
}
/* FIM EXTRAS */

.section {
    height: 100vh;
    min-width: 80rem;
}

.logo{
    width: 50px;
    height: auto;
    margin-right: 1.5rem;
}

.bg-footer {
    background-color: #B4CCE4;
}

/* NAVBAR */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.6rem;
}

.navbar-brand {
    color: #fff;
    font-size: 1.6rem;
}
/* FIM NAVBAR */

/* SLIDESHOW */
.section-slideshow {
    position: relative;
    background-color: transparent;
    padding-top: 350px;
    width: 25vw;
}

.owl-btn {
    margin-top: 25px;
    margin-right: -25px;    
    float: right;
}

.section-slideshow h2 {
    background-color: transparent;
    margin-bottom: 35px;
    font-size: 5rem;
}

.section-slideshow p {
    background-color: transparent;
    margin-left: 50px;
    font-size: 1.6rem;
}
/* FIM SLIDESHOW */

/* BOTÕES */
.btn {
    padding: 10px 25px 10px 25px;
    border-radius: 50px;
    text-decoration: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.btn-primary {    
    color: #fff;
    background-color: #04A777;
    border-color:#04A777;
    font-weight: 700; /* BOLD */
    font-size: 2rem;
    letter-spacing: 0.2rem;
}

.btn-primary:hover{
    transform: scale(1.1);
    background-color: #027351;
    border-color:#027351;
}
/* FIM BOTÕES */

/* FOOTER */
.footer-brand {
    color: #38558C;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    text-decoration: none;
    white-space: nowrap;
}

footer p {
    color: #38558C;
}

footer div .row:nth-child(2) {
    padding-top: 2.5rem;
}
/* FIM FOOTER */