:root {
    --verde-claro: #04A777;
    --verde-escuro: #027351;
    --azul-escuro: #304F77;
    --azul-claro: #B4CCE4;
    --rosa: #D30C7B;
    --cor-texto: #F5F5F5;
}

.modal-content {
    background-color: var(--azul-escuro);
}

.modal-body {
    min-height: 30rem;
}

.modal-footer {
    background-color: var(--azul-claro);
}

.modal-footer img {
    width: 100%;
    height: auto;
}

.modal-footer ul li {
    list-style: none;
}

.modal-footer a {
    text-decoration: none;
    font-weight: 700;
}