:root {
    --verde-claro: #04A777;
    --verde-escuro: #027351;
    --azul-escuro: #304F77;
    --azul-claro: #B4CCE4;
    --rosa: #D30C7B;
    --cor-texto: #F5F5F5;
}

.modal-content {
    background-color: var(--azul-escuro);
}

.modal-body {
    min-height: 40rem;
}

.modal-footer {
    background-color: var(--azul-claro);
}

.modal-footer img {
    width: 100%;
    height: auto;
}

.modal-footer ul li {
    list-style: none;
}

.modal-footer a {
    text-decoration: none;
    font-weight: 700;
}

/* MASCARAS */
.mascaras {
    padding: 5rem;
}

.mascaras img{
    width: 100%;
    max-width: 20rem;
    height: auto;
    padding: 1rem;
    background-color: var(--verde-escuro);
    border-radius: 50rem;
}

.mascaras img:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: var(--rosa);
    transition: all .2s ease-in-out;
}

.mascaras .active {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: var(--rosa);    
}

@media (max-width: 768px) {
    .mascaras {
        padding: 0;
    }
}
/* FIM MASCARAS */