:root {
    --verde-claro: #04A777;
    --verde-escuro: #027351;
    --azul-escuro: #304F77;
    --azul-claro: #B4CCE4;
    --cor-texto: #F5F5F5;
}

/* MENU */
.navbar > .container-fluid {
    background-color: var(--azul-claro);
    border-radius: 20rem;    
}

.nav-bar {
    position: relative;
    background-color: transparent;
    padding: 25px;    
}

.nav-menu-left,
.nav-menu-left a, 
.nav-menu-left h1 {
    float: left;   
}

.nav-menu-left,
.nav-menu-left * { /* PARA SER APLICADO A TODOS OS FILHOS */
    background-color: transparent;
}

.nav-menu-left .logo img{
    width: 50px;
    height: auto;    
}

.navbar-brand {
    color: var(--azul-escuro) !important;
    font-weight: 700;
    font-size: 2rem;
}

.nav-menu-right {
    float: right;
    display: block;
    text-align: center;
    overflow: hidden;
}

.nav-menu-list {
    list-style-type: none;
}

.nav-menu-item {
    float: left;
    margin-right: 25px;
}

.nav-menu-item a {
    text-decoration: none;    
}

.nav-link {
    color: var(--azul-escuro) !important;
    font-size: 2rem;
    font-weight: 700;
}
/* FIM MENU */