/* SECTION INICIO */

#sectionInicio .row:nth-child(1) {
    padding-top: 15rem;
}

#sectionInicio .row:nth-child(2) {
    padding-top: 10rem;
}

#sectionInicio .row:nth-child(3) {
    padding-top: 15rem;
}

/* FIM SECTION INICIO */

/* SECTION SINTOMAS */

#sectionSintomas .row:nth-child(1) {
    padding-top: 15rem;
}

#sectionSintomas .row:nth-child(2) {
    padding-top: 10rem;
}

/* FIM SECTION SINTOMAS */

/* SECTION TRANSMISSAO */

#sectionTransmissao .row:nth-child(1) {
    padding-top: 15rem;
}

#sectionTransmissao .row:nth-child(2) {
    padding-top: 10rem;
}

/* FIM SECTION TRANSMISSAO */

/* SECTION EPI */

#sectionEPI .row:nth-child(1) {
    padding-top: 15rem;
}

#sectionEPI .row:nth-child(2) {
    padding-top: 10rem;
}

/* FIM SECTION EPI */

/* SECTION MOVIMENTO */

#sectionMovimento .row:nth-child(1) {
    padding-top: 15rem;
}

#sectionMovimento .row:nth-child(2) {
    padding-top: 10rem;
}

/* FIM SECTION MOVIMENTO */