<section class="section" id="sectionInicio">
    
    <div class="row">
        <div class="col-sm-6"><h2>Como surgiu?</h2></div>
        <div class="col-sm-6"><h4 class="text-end">COVID-19</h4></div>                
    </div>

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <p class="" id="inicio-1">
                Os primeiros casos de infeção pelo novo coronavírus de 2019 apareceram em Dezembro de 2019, na cidade de Wuhan, China.
                <br>
                <br>
                As pessoas foram diagnosticadas com uma pneumologia de origem desconhecida.
            </p>
            <p class="hidden" id="inicio-2">
                A covid-19 é uma infeção provocada pelo vírus SARS-CoV-2, pertencente à família Coronaviridae.
                <br>
                Este vírus, à semelhança do SARS-CoV e o MERS-CoV são vírus que são transmitidos ao ser humano por via de um animal hospedeiro, sendo este normalmento o morcego.
                <br>
                No caso do SARS-CoV-2, ainda não existem evidências que apontam para qual tenha sido o animal.
                <br>
                Estudos recentes apontam que tenha sido o pagolim malaio.
            </p>
            <p class="hidden" id="inicio-3">
                Demorou quatro meses para que a covid-19 saísse da China e fosse infetar outros países
                <br>
                No dia 11 de março de 2020, a Organização Mundial de Saúde (OMS) decreta o estado pandémico. Sendo esta a quinta pandemia desde 1918.
                <br>
                No dia 13 de março de 2020, Portugal decretou o estado de emergência e passou a estado de calamidade em junho que dura até aos dias de hoje.        
            </p>
        </div>        
    </div>

    <div class="row">
        <h6 class="text-end">
            Demasiado texto?
            <br>
            Clica aqui
        </h6>
    </div>    
</section>