<section class="section" id="sectionSintomas">
    <div class="row">
        <div class="col-sm-6"><h2>Sintomas</h2></div>
        <div class="col-sm-6"><h4 class="text-end">COVID-19</h4></div>                
    </div>

    <div class="row">
        <div class="col-sm-12">
            <a href="#" class="btn btn-primary">Saber Mais</a>
        </div>        
    </div>

</section>