<section class="section" id="sectionMovimento">
    <div class="container">
        <div class="row">
            <div class="col-sm-6"><h2>MOVIMENTO</h2></div>        
        </div>
    
        <div class="row">
            <div class="col-sm-4">
                <img src="images/svg/movimento.svg" alt="">
            </div>
            <div class="col-sm-8 d-flex flex-column justify-content-around">            
                <p>
                    A vida é feita de obstáculos e com eles nasce a força e a vontade de os superarmos.
                    <br>
                    <br>
                    A COVID-19 que enfrentamos atualmente é apenas mais um desses obstáculos que obrigou as pessoas a unirem-se mais do que nunca, a serem solidárias e a entreajudarem-se.
                    <br>
                    <br>
                    Perante este novo inimigo comum temos que lutas por nós e pelos nossos. Os esforços unem-se e é assim que nasce o movimento <strong>usa e abusa</strong>.
                </p>                                        
                <a href="#" class="btn btn-primary align-self-end">Como posso ajudar?</a>            
            </div>        
        </div>
    </div>
</section>